paper/turenas_reconstructed.maxpat
paper/insect_simulation.maxpat
paper/JSSA_spatif_article-blx.bib
paper/JSSA_spatif_article.aux
paper/JSSA_spatif_article.bbl
paper/JSSA_spatif_article.blg
paper/JSSA_spatif_article.log
paper/JSSA_spatif_article.pdf
paper/JSSA_spatif_article.run.xml
paper/JSSA_spatif_article.synctex.gz
paper/JSSA_Template_e.run.xml
paper/JSSA_Template_e.synctex.gz
paper/turenas-insect-extract.xml
paper/JSSA_Template.aux
paper/JSSA_Template.log
paper/JSSA_Template.synctex.gz
paper/JSSA_Template_e-blx.bib
paper/JSSA_Template_e.aux
paper/JSSA_Template_e.bbl
paper/JSSA_Template_e.blg
paper/JSSA_Template_e.log
