paper/example_code.cpp
paper/JSSA_Template_e-blx.bib
paper/JSSA_Template_e.aux
paper/JSSA_Template_e.bbl
paper/JSSA_Template_e.blg
paper/JSSA_Template_e.log
paper/JSSA_Template_e.pdf
paper/JSSA_Template_e.synctex.gz
JSSA_Template_e.run.xml
paper
turenas-insect-extract.xml
.DS_store
OpenFrameworks_project/ofxSndfile/build_libsndfile/libsndfile-1.0.25-i386
OpenFrameworks_project/ofxSndfile/build_libsndfile/libsndfile-1.0.25-x86_64
OpenFrameworks_project/bin/SpatDIFrendererDebug.app
