paper/example_code.cpp
paper/JSSA_Template_e-blx.bib
paper/JSSA_Template_e.aux
paper/JSSA_Template_e.bbl
paper/JSSA_Template_e.blg
paper/JSSA_Template_e.log
paper/JSSA_Template_e.pdf
paper/JSSA_Template_e.synctex.gz
JSSA_Template_e.run.xml
